<style>
    /* Historic England styles*/
    body{font-family:'Source Sans Pro Light','Arial', sans-serif;}.section-title blockquote{color:#fff;border:1px solid #2579a4;background-color:#2579a4}.rtable{margin:0 0 40px 0;width:100%;border: 1px solid #d1d1d1;display:table;box-shadow:none}ul{list-style:square inside}.logo{max-height:51px;}footer{font-family:'Source Sans Pro Light','Arial', sans-serif;background-color: rgb(42, 42, 42);color: #fff;padding: 14px;text-align: right;}@media print{body{-webkit-print-color-adjust: exact;}}
</style>
