opencensus==0.7.7
opencensus-context==0.1.1
opencensus-ext-azure==1.0.2
opencensus-ext-django==0.7.2
opencensus-ext-httplib==0.7.3
opencensus-ext-logging==0.1.0
opencensus-ext-postgresql==0.1.2
wfastcgi==3.0.0