{% load i18n %} {% load staticfiles %}
<div class="search-container bng-search-container">
    <div class="filter-title">{% trans "Filter by BNG" %}
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary btn-active-primary dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="true" data-bind="click: function () { clear(); }"> <i class="fa fa-close"></i> {% trans "Clear" %}
                </button>
            </div>
        </div>
    </div>
    <hr class="title-underline">
    <div>
        <p>
            Enter a valid British Nation Grid reference
        </p>
        <div>
            <label for="bngValue">BNG reference to filter by: </label>
            <input type="text" placeholder="Alpha numeric: TQ3456789012" tabindex=0 id="bng_value" data-bind="value: bng">
            <div data-bind="visible: bngHasError">
                <span aria-live="polite" style="color: red;" data-bind="text: bngMessageError"> </span>
            </div>
        </div>
        <div>
            <label for="xValue">Easting (X): </label>
            <input type="number" tabindex=0 id="xValue" data-bind="value: bng_x">
            <label for="yValue">Northing (Y): </label>
            <input type="number" tabindex=0 id="yValue" data-bind="value: bng_y">
            <div data-bind="visible: xyHasError">
                <span aria-live="polite" style="color: red;" data-bind="text: xyMessageError"> </span>
            </div>
        </div>
        <div>
            <label for="bngValue">Buffer radius in metres: </label>
            <input type="number" tabindex=0 id="buffer_value" data-bind="value: buffer">
            <div data-bind="visible: bufferHasError" >
                <span aria-live="polite" style="color: red;" data-bind="text: bufferMessageError"> </span>
            </div> 
        </div>
        <hr class="title-underline">
        <div class="">
            <div id="map" class="relative" style="height: 500px; opacity: 1;" data-bind="mapboxgl: {
                    mapOptions: {
                        style: {
                            version: 8,
                            sources: sources,
                            sprite: sprite,
                            glyphs: glyphs,
                            layers: layers,
                        },
                        center: grid_source_center,
                        zoom: grid_source_zoom,
                        interactive: false
                    },
                    afterRender: setupMap
                }">
            </div>
        </div>
    </div>
</div>