{% extends "views/components/cards/default.htm" %}
{% load i18n %}

{% block form_widgets %}

<style>
    .card-display-panel {
        width: 100%;
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
    }

    .card-control-panel {
        width: fit-content;
        min-width: 300px;
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        height: 100%;
        padding: 15px;
    }

    .card-control-panel-tabs.nav.nav-tabs {
        background-color: #ccc;
        width: 44px
    }

    .card-control-panel-tabs.nav.nav-tabs li {
        background-color: #ccc;
        border-right: solid 1px #999;
        border-bottom: solid 1px #999;
        border-top: solid 1px #999;
        border-left: solid 1px #999;
        width: 44px;
    }

    .card-control-panel-tabs.nav.nav-tabs li.active {
        background-color: #fff;
        border-left: none;
    }



    .tab-container .nav-tabs li a:hover {
        margin-right: 0px;
    }

    .tab-container {
        background-color: #ededed;
    }

    .card-control-panel .tab-pane {
        display: inline-flex;
    }

</style>

<div style="display: flex;">


    <div class="card-display-panel">
        <div class="form-group">
        </div>
    </div>

    <div>

        <!--ko if: activeTab() === 'alpha' -->
        <div class="tab-pane card-control-panel">
            <form class="widgets" style="margin-bottom: 20px; width: 350px;">
                <div data-bind="foreach: {
            data:card.widgets, as: 'widget'
        }">
                    <!--ko if: widget.node_id() !== '6b8fea59-5a0e-11e9-b593-c4b301baab9f'-->
                    <div data-bind='component: {
            name: self.form.widgetLookup[widget.widget_id()].name,
            params: {
                formData: self.tile.formData,
                tile: self.tile,
                form: self.form,
                config: widget.configJSON,
                label: widget.label(),
                value: self.tile.data[widget.node_id()],
                node: self.form.nodeLookup[widget.node_id()],
                expanded: self.expanded,
                graph: self.form.graph,
                type: "resource-editor",
                disabled: !self.card.isWritable && !self.preview
            }
        }, css:{ "active": widget.selected, "hover": widget.hovered, "widget-preview": self.preview
    }, click: function(data, e) { if (!widget.selected() && self.preview) {widget.selected(true);}
}, event: { mouseover: function(){ if (self.preview){widget.hovered(true) } }, mouseout: function(){ if (self.preview){widget.hovered(null)} } }, visible: widget.visible'></div>
                    <!-- /ko -->
                </div>
            </form>
        </div>
        <!--/ko-->

        <!--ko if: activeTab() === 'beta' -->
        <div class="tab-pane card-control-panel">
            <div>Some sample content</div>
        </div>
        <!--/ko-->

        <!--ko if: activeTab() === 'delta' -->
        <div class="tab-pane card-control-panel">
            <div>More sample content</div>
        </div>
        <!--/ko-->

    </div>

    <div class='tab-container'>
        <ul class="card-control-panel-tabs nav nav-tabs">
            <!--ko foreach: tabItems -->
            <li data-bind="css: {active: name === $parent.activeTab()}, click: function(){$parent.setActiveTab(name)}"><a><span><i data-bind="class: icon"></i></span></a></li>
            <!--/ko-->
        </ul>
    </div>

</div>
{% endblock form_widgets %}


{% block report_widgets %}
{% endblock report_widgets %}
