.menu-title {
    font-size: 17px;
}

.disabled {
    color: #ababab;
}

.search-result {
    padding: 10px;
    border-bottom: solid 1px lightgray;
    font-weight: 600;
}

.search-result > a {
    color: #000071;
}

.search-result > a:hover {
    color: #2e29da;
}

div.final-cons-step-separator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top:8px;
    margin-bottom:8px;
}

div.final-cons-step-separator > hr {
    margin-top:8px;
    margin-bottom:8px;
    margin-left: 0;
    margin-right: 0;
    flex-grow: 9;
    border:1px solid #bdbdbd;
}

div.final-cons-step-separator > h4 {
    margin-left:24px;
    margin-right:24px;
    flex-grow: 1;
    margin-top:0;
    text-align: center;
}

div.final-cons-step-splash {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

div.final-cons-step-splash > a {
    max-width: 180px;
}

div.final-cons-step-splash > button {
    border-radius: 2px;
}
