.menu-title {
    font-size: 17px;
}

.disabled {
    color: #ababab;
}

.search-result {
    padding: 10px;
    border-bottom: solid 1px lightgray;
    font-weight: 600;
}

.search-result > a {
    color: #000071;
}

.search-result > a:hover {
    color: #2e29da;
}