.workflow-panel.navbarclosed {
    min-width: 60px;
    width: 60px;
}

.navbarclosed .workflow-main-nav-item{
    display: none;
}

.file-upload-filter {
    margin-right: 5px;
}

.file-upload-card {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 6px 8px 3px 15px;
    background: #f6f6f6;
    color: #01113c;
}

.file-upload-options {
    padding-bottom: 8px;
}

.btn-file-upload-reset {
    color: #489EED;
    font-size: 12px;
    float: right;
}


.file-upload-card-detail-right {
    min-width: 85px;
    float: right;
    margin-top: 6px;
}

div.workflow-content {
    flex-grow: 2;
}

.workflow-select-desc {
    font-size: 12px;
    padding-top: 10px;
}

.workflow-select-card-container-title {
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: -15px;
}

.workflow-select-card-container {
    display: flex;
    flex-grow: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.workflow-select-card {
    width: 200px;
    height: 200px;
    padding: 10px;
    color: white;
    text-align: center;
    border: 1px solid #777;
    border-radius: 1px;
    margin: 10px;
    opacity: 0.85;
}

.workflow-select-card:hover {
    opacity: 1.0;
    border: 1px solid black;
}

.btn-file-upload-limit {
    color: #489EED;
    font-size: 12px;
    float: left;
}

.btn-file-cancel {
    background: #01113c;
    border-radius: 50%;
    border: none;
}

.workflow-panel-nav-header a span i {
    padding-left: 10px;
}

.workflow-panel-nav-header a span {
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.workflow-panel-nav-header {
    padding-top: 12px;
    height: 50px;
    border-bottom: 1px solid #041B33;
}

.workflow-panel-nav-header > hr {
    border-color: #142638;
    width: 100%;
}

.sub-title {
    font-weight: 600;
}


.workflow-panel {
    background: #26476a;
    /* width: 12%; */
    color: white;
}

div.workflow-panel {
    min-width: 250px;
}

.workflow-panel ul {
    /* text-decoration: none; */
    list-style-type: none;
    /* padding-left: 12px; */
    margin-bottom: 20px;
    min-height: 200px;
    padding-left: 0;
    /* border-bottom: #fff; */
    border-width: 2px;
}

.workflow-panel i {
    margin-right: 5px;
    font-size: 15px;
    color: #f2f2f2;
    width: 20px;
    text-align: center;
}

.workflow-panel li {
    padding-top: 12px;
    padding-left: 30px;
    padding-bottom: 12px;
}

.workflow-panel li:hover {
    background-color: #5f7892;
}

.workflow-panel > hr {
    border-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.workflow-panel li a span {
    color: white;
    font-size: 15px;
    margin-top: 15px;
}

.workflow-select-wf-icon {
    color: white;
    font-size: 40px;
}

.workflow-select-title {
    font-size: 1.4em;
    font-weight: 500;
}

.workflow-select-wf-circle {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    padding: 18px;
    border-radius: 40px;
}

.card-display-panel {
    position: relative;
    width: calc(100% - 75px);
    min-height: 400px;
    height: inherit;
    top: 0px;
    left: 0px
}

.card-control-panel-tabs.nav.nav-tabs {
    background-color: #ccc;
    width: 55px
}

.card-control-panel-tabs.nav.nav-tabs li {
    background-color: #ccc;
    border-bottom: solid 1px #999;
    border-top: solid 1px #999;
    border-left: solid 1px #999;
    width: 55px;
}

.card-control-panel-tabs.nav.nav-tabs li.active {
    background-color: #fff;
    margin-left: -1px;
    width: calc(100% + 1px);
    border-left: 1px solid #fff;
}

.tab-container .nav-tabs li a {
    margin-right: 0px;
}

.gallery-container .tab-container .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-container {
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    background-color: #ededed;
    height: -webkit-fill-available;
}

.card-control-panel .tab-pane {
    display: inline-flex;
}

.gallery-container {
    position: relative;
}

.gallery-thumbnails {
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: #887f7fcc;
    height: 105px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    border-bottom: solid 1px #333;
}

.gallery-thumbnails img {
    height: 80px;
    margin: 3px 6px;
    border: solid 1.5px #333;
}

.gallery-thumbnails img:hover {
    cursor: pointer;
    border: 1.5px solid #FFF;
}

.gallery .preview img {
    border: solid 1px #333;
    width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}

.gallery-thumbnails .dz-cancel {
    color: black;
    background-color: #ccc;
    position: absolute;
    right: 0;
    opacity: 0.75;
    position: absolute;
}

.gallery-thumbnails .dz-cancel:hover {
    background-color: #eee;
    opacity: 1;
}

.gallery-thumbnails .btn-xs {
    padding: 0.5px 3.5px;
}

.gallery-controls {
    display: flex;
    position:absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.gallery-controls.new-tile {
    background: #ededed;
    justify-content: center;
    width: 100%
}

.thumbnail-gallery-controls {
    width: 30px;
    height: 105px;
    display: flex;
    background-color: #887f7fcc;
    align-items: center;
    font-size: 41px;
    justify-content: center;
    border-bottom: solid 1px #333;
    color: #ddd
}

.thumbnail-gallery-controls.left {
    border-left: solid 1px #333;
}

.thumbnail-gallery-controls.right {
    border-right: solid 1px #333;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 75px);
}

.workbench-card-container-sidepanel-active .thumbnail-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 475px);
}

.show-thumbnails-btn {
    padding: 4px;
    margin-left: 10px;
    width: 100px;
    background-color: #fff;
    opacity: 0.6;
}

.show-thumbnails-btn.open {
    position: relative;
}

.show-thumbnails-btn.closed {
    position: absolute;
    bottom: 0;
}

.thumbnail-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* workflows */
.workflows-get-tile-value {
    margin: 5px 25px;
    border: solid 1px #acf;
    padding: 10px;
    background-color: #fff;
}

.workflows-get-tile-value > .checkbox {
    margin: 0;
    padding: 10px 5px 5px 5px;
}

.workflows-get-tile-value > .h4 {
    margin: 1px;
}

.workflows-add-reference-numbers {
    margin: 5px 25px;
    border: solid 1px #acf;
    padding: 10px;
    background-color: #fff;
}

/* In core core arches */

.file-upload-footer {
    background: #e6e6e6;
    color: rgb(89, 56, 255);;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.file-select {
    text-align: center;
    padding: 70px 0;
    background: #f9f9f9;
}

.file-select-window {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}

.btn-file-select {
    background: rgb(138, 115, 255);
    color: #fff;
    border: 1px solid rgb(89, 56, 255);
    border-radius: 2px;
    width: 240px;
    margin: 30px 0;

}

.projects-grid {
    margin-left: -10px;
}

.projects-grid .card-grid-item {
    margin: 10px;
    border: 1px solid #bbb;
}

.projects-grid .card-grid-item:hover {
    border: 1px solid steelblue;
}

div.active-cons-header {
    border: solid 1px #454545;
    padding: 5px 10px;
    color: #fff;
    background: #454545;
    margin: -1px;
    height: 50px;
}

.active-cons-header-title {
    font-weight: 500;
    font-size: 13px;
}

/* div.active-cons-header ~ div div, div.active-cons-header ~ div p {
    overflow: hidden;
} */

div.active-cons-map-container {
    height: 200px;
    width: 288px;
    padding: 0px;
    text-align: center;
    background-color: #f8fbff;
    position: relative;
    margin-top: 1px;
}

.active-cons-map-container span {
    font-size: 8px;
}

div.active-cons-map {
    height:inherit;
    width:inherit;
}

div.active-cons-map > img {
    max-width: 100%;
    height: auto;
    z-index: -1;
}

img.active-cons-map-disabled {
    opacity: 0.2;
}

div.active-cons-map > div {
    z-index: 1;
    position: absolute;
    width: inherit;
    padding: 0 1px 0 4px;
    height: auto;
    top: 175px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

div.active-cons-map > div > span {
    display: inline-block;
}

div.active-cons-stubs {
    border: solid 1px #eaeaea;
    display: flex;
    padding: 10px;
}

.active-cons-header.status-ok {
    background: #7BB800;
    color: #fff;
    border: 1px solid #649600;
}

.card-grid-item:hover .active-cons-header.status-ok {
    border: 1px solid #25476A;
    border-bottom: 1px solid #649600;
}

.active-cons-header.status-late {
    background: #CD0074;
    color: #fff;
    border: 1px solid #7D0047;
}

.card-grid-item:hover .active-cons-header.status-late {
    border: 1px solid #25476A;
    border-bottom: 1px solid #7D0047;
}

.active-cons-header.status-warning {
    background: yellow;
    color: #9B9B00;
    border: 1px solid #bbb;
}

.card-grid-item:hover .active-cons-header.status-warning {
    border: 1px solid #25476A;
    border-bottom: 1px solid #bbb;
}

div.active-cons-stub-left {
    flex-grow: 1;
    border-right: solid 1px #eaeaea;
    text-align: center;
    width: 120px;
}

div.active-cons-stub-right {
    flex-grow: 1;
    text-align: center;
    width: 150px;
    padding-left: 3px;
}

div.ep-tools-title > div {
    font-size: 15px;
    padding: 12px 0px 0px 12px;
}

div.active-cons-stub-val {
    font-size: 13px;
    font-weight: 500;
    color: #25476A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.active-cons-stub-label {
    font-size: 11px;
    color: #777;
}

.active-cons-stub-summary {
    font-size: 12px;
    color: #727272;
    height: 116px;
    padding: 10px 15px;
}

.active-cons-stub-summary-text {
    width: 265px;
    overflow: hidden;
    height: 98px;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.workflow-main-nav-item {
    cursor: pointer;
    display: block;
}

li.workflow-main-nav-item a {
    display: block;
}

div.hide-address-name div:nth-child(3) > form:nth-child(1).widgets,
div.hide-address-name div:nth-child(3) > form:nth-child(2).widgets
 {
    visibility: hidden;
    height: 0;
    padding: 0;
    width: 0;
    margin: -20px;
}

div.hide-completion-date > div > div > div > div > form > div > div:nth-child(3) {
    visibility: hidden;
}

div.hide-file-list > div > div > div > div > form > div > div:nth-child(3) {
    visibility: hidden;
}

.ep-toolbar.cons {
    border-top: 1px solid #ddd;
    background: #f8f8f8;
    border-bottom: none;
}

.active-cons-footer {
  background: #444;
}

.cons .ep-tools-right {
    background: #f2f2f2;
    position: absolute;
    right: 0px;
    height: 49px;
}

.cons-owner-title-panel {
    padding: 0px 0px;
}

.cons-owner-title {
    padding: 15px;
    font-weight: 600;
}

.active-cons-map .map-credit a.mapboxgl-ctrl-logo {
    margin: -5px 0 -3px 3px;
}

.active-cons-table-container {
    padding: 20px 0px;
}

.active-cons-table-clip-field {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
