.card-display-panel {
    border: 1px solid #999;
    position: relative;
    width: calc(100% - 55px);
    min-height: 400px;
    height: inherit;
    top: 0px;
    left: 0px
}

.card-control-panel {
    width: fit-content;
    min-width: 300px;
    border: 1px solid #999;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    overflow-y: auto;
}

.card-control-panel-tabs.nav.nav-tabs {
    background-color: #ccc;
    width: 55px
}

.card-control-panel-tabs.nav.nav-tabs li {
    background-color: #ccc;
    border-bottom: solid 1px #999;
    border-top: solid 1px #999;
    border-left: solid 1px #999;
    width: 55px;
}

.card-control-panel-tabs.nav.nav-tabs li.active {
    background-color: #fff;
    margin-left: -1px;
    width: calc(100% + 1px);
    border-left: 1px solid #fff;
}

.tab-container .nav-tabs li a {
    margin-right: 0px;
}

.gallery-container .tab-container .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-container {
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    background-color: #ededed;
    height: -webkit-fill-available;
}

.card-control-panel .tab-pane {
    display: inline-flex;
}

.gallery-container {
    position: relative;
}

.gallery-thumbnails {
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: #887f7fcc;
    height: 105px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    border-bottom: solid 1px #333;
}

.gallery-thumbnails img {
    height: 80px;
    margin: 3px 6px;
    border: solid 1.5px #333;
}

.gallery-thumbnails img:hover {
    cursor: pointer;
    border: 1.5px solid #FFF;
}

.gallery .preview img {
    border: solid 1px #333;
    width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}

.gallery-thumbnails .dz-cancel {
    color: black;
    background-color: #ccc;
    position: absolute;
    right: 0;
    opacity: 0.75;
    position: absolute;
}

.gallery-thumbnails .dz-cancel:hover {
    background-color: #eee;
    opacity: 1;
}

.gallery-thumbnails .btn-xs {
    padding: 0.5px 3.5px;
}

.gallery-controls {
    display: flex;
    position:absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.thumbnail-gallery-controls {
    width: 30px;
    height: 105px;
    display: flex;
    background-color: #887f7fcc;
    align-items: center;
    font-size: 41px;
    justify-content: center;
    border-bottom: solid 1px #333;
    color: #ddd
}

.thumbnail-gallery-controls.left {
    border-left: solid 1px #333;
}

.thumbnail-gallery-controls.right {
    border-right: solid 1px #333;
}


.thumbnail-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px
}


/* In core core arches */

.file-upload-footer {
    background: #e6e6e6;
    color: rgb(89, 56, 255);;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.file-select {
    text-align: center;
    padding: 70px 0;
    background: #f9f9f9;
}

.file-select-window {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}


.btn-file-select {
    background: rgb(138, 115, 255);
    color: #fff;
    border: 1px solid rgb(89, 56, 255);
    border-radius: 2px;
    width: 240px;
    margin: 30px 0;

}
