{% load i18n %}
<!-- ko if: loading() === false -->
<div class="final-step">
    <div class="her-final-step-section" style="padding: 15px; display: flex; flex-direction: column">
        <h5 class="summary-value">{% trans 'Consultation Name' %}</h5>
        <div style="display: inline-flex; width: inherit; justify-content: space-between;">
            <div style="display: flex; flex-direction: column;">
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: 'cat' + ':'"></div>
                    <div class="summary-value" data-bind="text: 'dog'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
