{% load i18n %}
<!-- ko if: loading() === false -->
<div class="final-step">
    <div class="her-final-step-section" style="padding: 15px; display: flex; flex-direction: column">
        <h5 class="summary-value">{% trans 'Correspondence Communication Details' %}</h5>
        <div style="display: inline-flex; width: inherit; justify-content: space-between;">
            <div style="display: flex; flex-direction: column;">
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.consultationName.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.consultationName.value"></div>
                </div>
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.letterType.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.letterType.value"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="her-final-step-section" style="padding: 15px; display: flex; flex-direction: column">
        <h5 class="summary-value">{% trans 'Download Letter' %}</h5>
        <div style="display: inline-flex; width: inherit; justify-content: space-between;">
            <div style="display: flex; flex-direction: column;">
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.letter.name + ':'"></div>
                    <a data-bind="attr: { href: dataURL }, click: function() { return true; }, clickBubble: false" target="_blank">
                        <div class="summary-value" data-bind="text: reportVals.letter.value"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
