{% load i18n %}
<!-- ko if: loading() === false -->
<div class="final-step">
    <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Created or Modified Resource Instance' %}</h5>
        <div class="final-step-section-block">
            <div class="final-step-section-block-item">
                <a data-bind="attr: { href: urls.resource + '/' + resourceid}" target="_blank">
                    <div class="summary-value" 
                        data-bind = "text: displayName + ' ({% trans 'Application Area Resource Instance' %})'">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Application Area Address' %}</h5>
        <div class="final-step-section-block address-block">
            <div class="final-step-section-block-item">
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.buildingName.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.buildingName.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.buildingNumber.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.buildingNumber.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.buildingNumberSubStreet.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.buildingNumberSubStreet.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.subStreet.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.subStreet.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.street.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.street.value"></div>
                </div>
            </div>
            <div class="final-step-section-block-item">
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.locality.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.locality.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.townCity.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.townCity.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.county.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.county.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.postcode.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.postcode.value"></div>
                </div>
            </div>
            <div class="final-step-section-block-item">
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.status.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.status.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.currency.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.currency.value"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Application Area Name' %}</h5>
        <div class="final-step-section-block">
            <div class="final-step-section-block-item">
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.applicationAreaName.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.applicationAreaName.value"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Area Map' %}</h5>
        <div class="final-step-section-block-item">
            <div class="map-container">
                <div class="map" data-bind="component: {
                    name: 'arches-map',
                    params: $data
                }">
                </div>
            </div>
        </div>
    </div>
    <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Related Resources' %}</h5>
        <div class="final-step-section-block">
            <div class="final-step-section-block-item">
                <div class="block-item">
                    <!--ko foreach: relatedResources().related_resources -->
                    <div class="summary-value" data-bind="text: $data.displayname"></div>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
    <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Application Area Description' %}</h5>
        <div class="final-step-section-block">
            <div class="final-step-section-block-item">
                <div class="block-item">
                    <div class="summary-value" data-bind="html: reportVals.applicationAreaDescription.value"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Application Area Designations' %}</h5>
        <div class="final-step-section-block">
            <div class="final-step-section-block-item">
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.designationType.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.designationType.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.designationGrade.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.designationGrade.value"></div>
                </div>
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.designationReference.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.designationReference.value"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
