{% extends "views/components/workbench.htm" %}
{% load i18n %}

{% block tabs %}
<div class="map-card-sidebar-tab" data-bind="click: function() {
    toggleTab('edit');
}, css: {
    'active': activeTab() === 'edit'
}">
    <i class="fa fa-pencil"></i>
    <span class="map-sidebar-text">{% trans "Edit" %}</span>
</div>

<div class="map-card-sidebar-tab" data-bind="click: function() {
    toggleTab('beta');
}, css: {
    'active': activeTab() === 'beta'
}">
    <i class="fa fa-folder"></i>
    <span class="map-sidebar-text">{% trans "Beta" %}</span>
</div>
{{ block.super }}
{% endblock tabs %}


{% block content_management %}
<!-- ko if: card.widgets().length > 0 -->
{% block form_widgets %}
<div>

    <div class="card-display-panel">
        <div>
            <div id="hidden-dz-previews" style="display:none"></div>
            <!--ko if: displayContent() -->
            <div class="preview" style="width: 100%; height: 100%">
                <img class="dz-img" style = "width: 100%; height: 100%" data-bind="attr: {src: ko.unwrap(displayContent)}" ></img>
            </div>
            <!--/ko-->

            <div class='show-thumbnails-btn closed' data-bind="click: function(){showThumbnails(!showThumbnails())}, text: '{% trans "open" %}', fadeVisible: showThumbnails, delay:400, fade: 200"></div>
            <div class="thumbnail-gallery-container" data-bind="slide: showThumbnails, duration: 100, direction: {direction: 'down'}, easing: 'slide'">
            <div class='show-thumbnails-btn open' data-bind="click: function(){showThumbnails(!showThumbnails())}, text: '{% trans "close" %}'"></div>
            <div class="thumbnail-container" data-bind="gallery: photoGallery.pan, duration: 400, scrolldistance: 100, thumbnailclass: 'gallery-thumbnails'">
                <div class="thumbnail-gallery-controls left" data-bind="click: function(){photoGallery.updatePan('left')}"><i class="fa fa-angle-left"></i></div>
                <div class="gallery-thumbnails">
                    <!-- ko foreach: { data: card.tiles(), as: 'tile'} -->
                    <div style='position: relative'>
                        <!--ko if: $parent.getUrl(tile) -->
                        <div data-bind="click: $parent.removeTile, visible: ko.unwrap(selected)">
                            <button class="btn btn-xs dz-cancel"><i class="ion ion-close"></i></button>
                        </div>
                        <img class="dz-img" data-bind="attr: {src: $parent.getUrl(tile) !== undefined ? $parent.getUrl(tile) : '' }, click: $parent.photoGallery.selectItem">
                        <!--/ko-->
                        <!--ko if: $parent.getUrl(tile) === undefined -->
                        <div data-bind="click: $parent.removeTile, visible: ko.unwrap(selected)">
                            <button class="btn btn-xs dz-cancel"><i class="ion ion-close"></i></button>
                        </div>
                        <img class="dz-img" data-bind="attr: {src: '' }, click: $parent.photoGallery.selectItem">
                        <!--/ko-->
                    </div>
                    <!-- /ko -->
                </div>
                <div class="thumbnail-gallery-controls right" data-bind="click: function(){photoGallery.updatePan('right')}"><i class="fa fa-angle-right"></i></div>
            </div>
            </div>
        </div>
    </div>


    <!--ko if: self.displayContent() === undefined -->
    <div class="gallery-controls new-tile">
        <div class="dropzone-photo-upload" data-bind="dropzone: dropzoneOptions">
            <div class="file-select-window">
               <div class="bord-top pad-ver file-select">
                   <div class="" style="padding: 5px">
                       <h2>{% trans 'Upload Photographs' %}</h2>
                       <h4>{% trans 'Import document files related to your communication' %}</h4>
                   </div>
                   <button type="button" class="btn btn-file-select fileinput-button dz-clickable" data-bind="css: uniqueidClass">
                       <i class="fa fa-file"></i>
                       <span>{% trans "Select Documents" %}</span>
                   </button>
                   <br>
                   <div style="padding: 10px">{% trans "Adding documents to this Communication record is " %}
                       <span><strong>{% trans "optional." %}</strong></span>
                       <br>
                       {% trans "You may upload as many documents as you wish, but the maximum size of any single file is " %}
                       <span>8MB</span>
                   </div>

               </div>
               <div class="file-upload-footer">
                   <span>{% trans 'Images formatted as .jpg, .png, .tiff files may be uploaded. Other formats will be ignored.' %}</span>
               </div>
           </div>

        </div>
    </div>
    <!--/ko-->


</div>
{% endblock form_widgets %}
<!-- /ko -->


{% block form_buttons %}
{% endblock form_buttons %}

{% endblock content_management %}

<!--ko if: self.displayContent() !== undefined -->
{% block sidepanel %}
<!--ko if: activeTab() === 'edit' -->
<div>
    <form class="widgets" style="margin-bottom: 20px; width: 350px;">
        <div data-bind="foreach: {data:card.widgets, as: 'widget'}">
            <!--ko if: widget.node_id() !== '6b8fea59-5a0e-11e9-b593-c4b301baab9f'-->
            <div data-bind='component: {
                        name: self.form.widgetLookup[widget.widget_id()].name,
                        params: {
                            formData: self.tile.formData,
                            tile: self.tile,
                            form: self.form,
                            config: widget.configJSON,
                            label: widget.label(),
                            value: self.tile.data[widget.node_id()],
                            node: self.form.nodeLookup[widget.node_id()],
                            expanded: self.expanded,
                            graph: self.form.graph,
                            type: "resource-editor",
                            disabled: !self.card.isWritable && !self.preview
                        }
                    }, css:{ "active": widget.selected, "hover": widget.hovered, "widget-preview": self.preview
                }, click: function(data, e) { if (!widget.selected() && self.preview) {widget.selected(true);}
            }, event: { mouseover: function(){ if (self.preview){widget.hovered(true) } }, mouseout: function(){ if (self.preview){widget.hovered(null)} } }, visible: widget.visible'>
            </div>
            <!-- /ko -->
        </div>
    </form>

    <div class="install-buttons">
        <!-- ko if: tile.dirty() -->
        <!-- ko if: provisionalTileViewModel && !provisionalTileViewModel.tileIsFullyProvisional() && card.isWritable -->
        <button class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times" data-bind="click: tile.reset">{% trans 'Cancel edit' %}</button>
        <!-- /ko -->
            <!-- ko if: tile.tileid -->
            <button class="btn btn-shim btn-labeled btn-lg fa fa-plus" data-bind="click: function () { console.log(tile); self.saveTile(tile); }, css: {disabled: (!card.isWritable && !self.preview), 'btn-mint': card.isWritable }">{% trans 'Save edit' %}</button>
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: !tile.tileid -->
        <!-- <button class="btn btn-shim btn-labeled btn-lg fa fa-plus" data-bind="click: function () { console.log(tile); self.saveTile(tile); }, css: {disabled: (!card.isWritable && !self.preview), 'btn-mint': card.isWritable }">{% trans 'Add'  %}</button> -->
        <!-- /ko -->
    </div>

</div>
<!--/ko-->

<!--ko if: activeTab() === 'beta' -->
<div>
    <div>Some sample content</div>
</div>
<!--/ko-->

<!--ko if: activeTab() === 'delta' -->
<div>
    <div>More sample content</div>
</div>
<!--/ko-->

{{ block.super }}
{% endblock sidepanel %}
<!--/ko-->
